@page "/opladen-ev-power"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IMeasurementRepository measurementRepository;

<PageTitle>Opaden EV</PageTitle>
<h1>Opaden EV (variant F)</h1>
<p>U kunt hier gedetailleerde informatie vinden over de energieverbruikspatronen en de kosten die gepaard gaan met het opladen van elektrische voertuigen. De gegevens worden in real-time bijgewerkt om u de meest actuele informatie te bieden. 
  <br/> Daarnaast kunt u grafieken en tabellen bekijken die inzicht geven in de laadsessies over verschillende tijdsperioden. Dit helpt u om trends te herkennen en uw energieverbruik efficiënter te beheren.</p><hr>
<div class="main-content" style="width: 100%;">
  <div class="laadsessies" style="margin-top: 0.5rem; width: 100%;">
    <div class="button-row-container" style="display: flex; height: 4rem; gap: 1rem;">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="prijsType" id="btnDynamisch" autocomplete="off" @checked="prijsCategorie == true">
        <label class="btn btn-outline-primary d-flex justify-content-center align-items-center" for="btnDynamisch" @onclick="() => prijsCategorie = true">Dynamisch</label>
        <input type="radio" class="btn-check" name="prijsType" id="btnVast" autocomplete="off" @checked="prijsCategorie == false">
        <label class="btn btn-outline-primary d-flex justify-content-center align-items-center" for="btnVast" @onclick="() => prijsCategorie = false">Vast</label>
      </div>
      <div class="form-floating mb-3" style="width: 11rem; height: 4rem;">
        <input type="number" min="2" style="height: 4rem;" class="form-control" id="floatingInputValue" placeholder="3" aria-label="3" aria-describedby="button-addon2" @bind="detectieVermogenW">
        <label for="floatingInputValue">Detectiepunt (kWh)</label>
      </div>
      <div class="form-floating mb-3" style="width: 11rem; height: 4rem;">
        <input type="number" min="1" style="height: 4rem;" class="form-control" id="floatingInputValue" placeholder="30" aria-label="30" aria-describedby="button-addon2" @bind="numberOfDays">
        <label for="floatingInputValue">Aantal dagen</label>
      </div>
      <button class="btn btn-primary" type="submit" @onclick="LoadDataAsync">Refresh</button>
    </div>
    @if (currentPowerData == null)
    {
      <div class="spinner-border text-dark" style="margin-top: 1rem;" role="status">
        <span class="visually-hidden">Data wordt opgehaald...</span>
      </div>
    }
    else
    {
      @if(Laadsessies.Count == 0 || Laadsessies == null) 
      {
        <p style="margin-top: 2rem;">Helaas geen laadsessies beschikbaar. Probeer de pagina opnieuw te laden!</p>
      }
      else
      {<div style="margin-top: 1rem;">
        <table class="table">
              <thead>
                <tr>
                  <th>Start</th>
                  <th>Stop</th>
                  <th>Duration</th>
                  <th>Used kWh</th>
                  <th>Price</th>
                </tr>
              </thead>
              @foreach (Laadsessie sessie in Laadsessies)
                {
                <tbody>
                  <tr>
                    <td>@sessie.Start</td>
                    <td>@sessie.Stop</td>
                    <td>@sessie.Duur</td>
                    <td>@sessie.TotaalKWh</td>
                    <td>@sessie.Prijs</td>
                  </tr>
                </tbody>
                }
          </table>
        </div>
      }      
    }
    </div>
  </div> 


@code {
  // Variable for database connection
  double detectieVermogenW = 3D;
  int meterId = 10019163;
  int numberOfDays = 30;
  string aggegationWindow = "5m";
  private List<Measurement>? currentPowerData;

// Variable for LaadsessieDetectie
  double prijsCatagorieVast = 0.25D;
  bool prijsCategorie = true; // true = dynamisch   false = vast
  private List<Laadsessie> Laadsessies = new List<Laadsessie>();

protected override async Task OnInitializedAsync()
{
  await LoadDataAsync(); 
}

private double CalculatePrice(Measurement measurement, bool prijsCategorie, double prijsCatagorieVast) 
{
  double prijs = 0;

  if (prijsCategorie == true)
  {
    prijs += measurement.EnergyPrice.Value;
  }
  else 
  {
    prijs += measurement.Value.Value * prijsCatagorieVast;
  }
  
  return prijs;
}

private async Task LoadDataAsync()
{
    bool laadsessieActief = default;
    double totaalkWhLaadsessie = default;
    double totaalWattLaadsessie = default;
    double prijsLaadsessie = default;
    TimeSpan duurLaadsessie = default;
    DateTime startLaadsessie = default;
    DateTime stopLaadsessie = default;
    currentPowerData = await this.measurementRepository.GetEnergyConsumed(meterId, numberOfDays, aggegationWindow);
    Laadsessies = new List<Laadsessie>();

  // Algoritme laadsessie detectie
    foreach(var measurement in currentPowerData) {
      if(measurement.Value.Value > detectieVermogenW && laadsessieActief == false) 
      {
        startLaadsessie = measurement.Timestamp;
        laadsessieActief = true;
        prijsLaadsessie += CalculatePrice(measurement, prijsCategorie, prijsCatagorieVast);
        totaalkWhLaadsessie += measurement.Value.Value;
      }
      else if(measurement.Value.Value > detectieVermogenW) 
      {
        prijsLaadsessie += CalculatePrice(measurement, prijsCategorie, prijsCatagorieVast);
        totaalkWhLaadsessie += measurement.Value.Value;
      }
      else if(measurement.Value < detectieVermogenW && laadsessieActief == true) 
      {
        stopLaadsessie = measurement.Timestamp;
        duurLaadsessie = stopLaadsessie.Subtract(startLaadsessie);

        var singleLaadsessie = new Laadsessie(startLaadsessie, stopLaadsessie, duurLaadsessie, totaalkWhLaadsessie, prijsLaadsessie);
        Laadsessies.Add(singleLaadsessie);
        
        laadsessieActief = default;
        totaalkWhLaadsessie = default;
        prijsLaadsessie = default;
        duurLaadsessie = default;
        startLaadsessie = default;
        stopLaadsessie = default;
      }
      else {
        continue;
      }
    }
    await InvokeAsync(StateHasChanged);
  }
}
